/* font-family: 'Permanent Marker', cursive;
font-family: 'Courgette', cursive; */
/* 
Primary Red: #f06292
Primary Dark: #ba2d65
Primary Light:#ff94c2

Secondary: #ffff8d
Secondary Dark: #cacc5d
Secondary Light: #ffffbf */

/* %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */




h1, h6 {
    font-family: 'Permanent Marker', cursive;
}